@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);




#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #eb6b56;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #2969b0;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}
#msg-box4-1 .mbr-header__text {
  color: #2969b0;
  text-align: right;
  font-family: 'Lato', sans-serif;
}
#msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1 .mbr-article {
  color: #ffffff;
}
#msg-box4-1 .mbr-article P {
  color: #2969b0;
  font-size: 15px;
  text-align: left;
}
#msg-box4-2 .mbr-header__text {
  color: #ffffff;
  font-size: 23px;
  font-family: 'Lato', sans-serif;
}
#msg-box4-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2 .mbr-article {
  color: #ffffff;
}
#msg-box4-2 .mbr-article P {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
#pricing-table1-4 .mbr-plan__details UL {
  text-align: left;
  font-size: 13px;
  color: #2969b0;
}
#testimonials1-8 .mbr-section__header {
  font-size: 30px;
}
#form1-5 .mbr-header__text {
  color: #ffffff;
  font-size: 30px;
}
